
<div class="container footer-copyright-section">
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-6">
            <ul class="list-inline pull-left">
                <li>Copyright. Off The Cuff. 2013</li>
            </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-xs-12 col-sm-6">
            <ul class="list-inline text-center">
              <li><a href ="#" class="copyright-logo">Payment Methods</a></li>
            </ul>
        </div><!-- /.col-lg-4 -->
        <div class="col-md-4 col-xs-12 col-sm-6">
            <ul class="list-inline pull-right">
                <li>Designed by <strong>whole</strong></li>
            </ul>
        </div><!-- /.col-lg-4 -->
    </div>
</div>