<li class="dropdown currency-dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">$ CURRENCY</a>
    
    <ul class="dropdown-menu">
      <li data-currency="USD" class="{% if shop.currency == 'USD' %}selected {% endif %}"><a href="javascript:void(0);">$ USD</a></li>
      <li data-currency="GBP" class="{% if shop.currency == 'GBP' %}selected {% endif %}"><a href="javascript:void(0);">&pound; GBP</a></li>
	  <li data-currency="EUR" class="{% if shop.currency == 'EUR' %}selected {% endif %}"><a href="javascript:void(0);">&euro; EURO</a></li>
    </ul>
</li>

<style>
  li.dropdown:hover > ul.dropdown-menu {
    display: block;    
}
</style>
