{% if paginate.pages > 1 %}
<div class="row">
  <div>
    <ul class="pagination pull-right delete-border-pagination">
      {% for part in paginate.parts %}
        <li><span>{{ part.title | link_to: part.url}}</span></li>  
        {% if paginate.pages != part.title %}      
        	<li><span>-</span></li>
        {% endif%}
      {% endfor %}
    </ul>
  </div>
</div> 
{% endif %}

