<div class="container lookbook-page">
    <div class="row">
        <!--<div class="">-->
        <h1 class="text-center info-label-font">LOOKBOOKS <span class="label label-default"></span></h1>
        <p class="text-center contact-text-font">Aliquam egestas erat quis sem fermentum, id placerat felis pharetra</p>
        <!--</div>-->
    </div>
    <!-- content -->
    <div class="row info-border-wrap">
        <div class=" col-md-12 col-xs-12 padding-wrapper-unavailable">
            <h1 class="text-left info-label-font" id="lookbook-header-wrap">VINTAGE LOOKBOOK<span class="label label-default"></span></h1>
          <img src="{{'vintage.jpg' | asset_url}}" alt="Second slide" class="lookbook-image" id="vintage-lookbook" style="height: 605px">
        </div>

        <div class="col-md-12 col-xs-12 padding-wrapper-unavailable" id="funky-lookbook-margin-wrap">
            <h1 class="text-left info-label-font" id="funky-lookbook-header-wrap">FUNKY LOOKBOOK<span class="label label-default"></span></h1>
            <div class="pin-it-wrapper col-md-offset-1">
              <a href="/pages/shop"><button class="btn col-md-2 col-sm-2 col-xs-12 shop-funky-button">SHOP FUNKY
                  <img src="{{'button-extend.png' | asset_url}}" class="shop-funky-button-extended">
                    <img src="{{'white-arrow.png' | asset_url}}" class="shop-funky-button-arrow">
                </button></a>
            </div>
            <div>
                <img src="{{'funky.jpg' | asset_url}}" alt="Second slide" class="lookbook-image" id="funky-lookbook" style="height: 605px">
            </div>
        </div>
    </div>
</div>