<div class="container about-page">
    <div class="row">
        <!--<div class="">-->
        <h1 class="text-center info-label-font">ABOUT <span class="label label-default"></span></h1>
        <p class="text-center contact-text-font">Aliquam egestas erat quis sem fermentum, id placerat felis pharetra</p>
        <!--</div>-->
    </div>
    <!-- content -->
    <div class="row info-border-wrap">
        <div class=" col-md-12 col-xs-12 padding-wrapper-unavailable border-to-image-margin">
            <img src="{{'about_top.jpg' | asset_url}}" alt="Second slide" class="lookbook-image" style="height: 605px">
        </div>
    </div>
    <div class="row">
        <!--<div class="">-->
        <h1 class="text-center info-label-font">OUR STORY <span class="label label-default"></span></h1>
        <p class="text-center contact-text-font">Aliquam egestas erat quis sem fermentum, id placerat felis pharetra</p>
        <!--</div>-->
    </div>
</div>

<div class="jumbotron">
    <div class="container">
       <div class="row">
           <div class="col-md-6 col-xs-12 col-sm-12 padding-wrapper-unavailable" id="our-story-image-wrap">
             <img src="{{'about_left.jpg' | asset_url}}" alt="Second slide" class="lookbook-image" style="height: 400px">
           </div>
           <div class="col-md-6 col-xs-12 col-sm-12">
               <div class="row about-text-wrap">
                   <p class="lead">LONG TITLE GOES HERE</p>
                 <div class="about-paragraph">{{page.content}}</div>
               </div>
           </div>
       </div>
    </div>
</div>